@page
@model HRManager.Pages.Usuario.EditarModel

@{
    ViewData["Title"] = "Editar Usuario";
}

<h1>Editar Usuario</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Usuario.IdUsuario" />
            <div class="form-group">
                <label asp-for="Usuario.NombreUsuario" class="control-label"></label>
                <input asp-for="Usuario.NombreUsuario" class="form-control" />
                <span asp-validation-for="Usuario.NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Email" class="control-label"></label>
                <input asp-for="Usuario.Email" class="form-control" />
                <span asp-validation-for="Usuario.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.PasswordHash" class="control-label"></label>
                <input asp-for="Usuario.PasswordHash" class="form-control" />
                <span asp-validation-for="Usuario.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Volver a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
