@page
@model HRManager.Pages.Departamentos.EditModel
@{
    ViewData["Title"] = "Edit Departamento";
}

<h1>Edit</h1>

<h4>Departamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Departamento.IdDepartamento" />
            <div class="form-group">
                <label asp-for="Departamento.NombreDepartamento" class="control-label"></label>
                <input asp-for="Departamento.NombreDepartamento" class="form-control" />
                <span asp-validation-for="Departamento.NombreDepartamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departamento.Ubicacion" class="control-label"></label>
                <input asp-for="Departamento.Ubicacion" class="form-control" />
                <span asp-validation-for="Departamento.Ubicacion" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-page="./Index" class="btn btn-primary">Back to list</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
