@page
@model HRManager.Pages.Nominas.CreateModel
@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>Nomina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Nomina.IdEmpleado_fk" class="control-label"></label>
                <input asp-for="Nomina.IdEmpleado_fk" class="form-control" />
                <span asp-validation-for="Nomina.IdEmpleado_fk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nomina.PeriodoInicio" class="control-label"></label>
                <input asp-for="Nomina.PeriodoInicio" class="form-control" />
                <span asp-validation-for="Nomina.PeriodoInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nomina.PeriodoFin" class="control-label"></label>
                <input asp-for="Nomina.PeriodoFin" class="form-control" />
                <span asp-validation-for="Nomina.PeriodoFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nomina.TotalPagado" class="control-label"></label>
                <input asp-for="Nomina.TotalPagado" class="form-control" />
                <span asp-validation-for="Nomina.TotalPagado" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-page="Index" class="btn btn-primary">Regresar a Lista de Nomina</a>
            </div>
        </form>
    </div>
</div>
